.container {
    display: flex;
    justify-content: center;
    padding-top: 7rem;
}
.list {
    justify-content: left;
    padding: 0 5rem 0 5rem;
}
.ul {
    font-size: 2rem;
}
.link {
    text-decoration: none;
    color: black;

}
.link:hover {
    color: crimson;
}
p {
    font-size: 3rem;
}